<!-- Auto collapsible section menu -->
<!-- prettier-ignore -->
<ul class="list-unstyled collapsible-sidebar">
    <!-- Static filter buttons -->
    <li><button class="filter-button" data-filter="all">All</button></li>
  
    <!-- Dynamic filter buttons -->
    {{ $allCategories := slice }}
    {{ range .Site.Pages }}
        {{ with .Params.category }}
            {{ if not (in $allCategories .) }}
                {{ $allCategories = $allCategories | append . }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ range sort $allCategories }}
        <li><button class="filter-button" data-filter="{{ . | urlize }}">{{ . }}</button></li>
    {{ end }}
  
</ul>
