.dictionary {
  position: relative;
}
.filters {
  position: fixed;
  top: 14rem;
  // left: 0px;
  margin-left: -24px;
  height: 100vh;
  background: #f6f6f6;
  // border-radius: 0px 15px 15px 0px;
  // border-top: 1px dashed #686868;
  // border-right: 1px dashed #686868;
  // border-bottom: 1px dashed #686868;
  // border-left: 1px dashed #686868;
  width: 25%;
  padding: 20px 24px;
}

.filters-sidebar .active {
  background: pink;
}

button.filter-button {
  border: none;
  background: none;
  text-transform: capitalize;

  font-size: $font-size-md;
  color: $body-color-light;
}
